:root {
  --primary: #fefcfb;
  --secondnary: #fa7436;
  --tertiary: #676767;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.header_container {
  width: 100%;
  height: 100px;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  box-shadow: 17px -6px 9px 0px;
  z-index: 999;
}

.header_container > nav {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_container > nav > h1 {
  text-transform: capitalize;
  font-size: 28px;
  letter-spacing: 1px;
}

.header_container > nav > ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
  font-size: 16px;
  color: var(--tertiary);
}

.header_container > nav > ul > li {
  cursor: pointer;
}

.header_container > nav > ul > li:hover {
  color: black;
}

.header_container > nav button:first-child {
  cursor: pointer;
  outline: none;
  padding: 12px 32px;
  background-color: white;
  border: none;
  color: var(--secondnary);
  font-size: 14px;
  letter-spacing: 1px;
  border-radius: 4px;
  font-weight: 600;
}

.header_container > nav button {
  cursor: pointer;
  outline: none;
  padding: 12px 32px;
  background-color: var(--secondnary);
  border: none;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  border-radius: 4px;
  font-weight: 600;
}

.mobile_icon {
  display: none;
}

@media (max-width: 1024px) {
  .header_container > nav {
    width: 90%;
  }

  .header_container > nav > ul {
    gap: 20px;
    font-size: 14px;
  }

  .header_container > nav button:first-child {
    padding: 8px 24px;
    font-size: 12px;
  }

  .header_container > nav button {
    padding: 8px 24px;

    font-size: 12px;
  }
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero_container {
  width: 100%;
  padding: 15px 0px;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero_container > div:first-child {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  justify-items: center;
}

.hero_subcontainer_one {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
}

.hero_subcontainer_one > h2 {
  font-size: 44px;
  font-weight: bold;
  margin-top: 32px;
}

h2 > span {
  color: var(--secondnary);
}

.hero_subcontainer_one > p {
  font-size: 16px;
  color: var(--tertiary);
  line-height: 30px;
}

.hero_subcontainer_one > button {
  cursor: pointer;
  outline: none;
  padding: 12px 32px;
  background-color: white;
  border: none;
  color: var(--secondnary);
  font-size: 14px;
  letter-spacing: 1px;
  border-radius: 4px;
  font-weight: 600;
}

.hero_subcontainer_two {
  width: 80%;
  aspect-ratio: 1/1;
}

.hero_subcontainer_two > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container_box {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 15px 0px;
  align-items: center;
  justify-items: center;
  background-color: white;
  padding: 28px 0px;
  border-radius: 8px;
  box-shadow: 0.5px 0px 1px 0px;
}

.container_box > div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
}

.container_box h6 {
  font-size: 18px;
  margin: 0px;
  font-weight: 600;
}

.container_box span {
  color: var(--tertiary);
  font-size: 14px;
}

.container_box button {
  cursor: pointer;
  outline: none;
  padding: 18px 32px;
  background-color: var(--secondnary);
  border: none;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  border-radius: 4px;
  font-weight: 600;
}

.about_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  background-color: #f7f8fc;
}

.about_header_content {
  text-align: center;
  padding: 30px 0px;
}

.about_header_content > h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

.about_header_content > p {
  font-size: 14px;
  line-height: 25px;
  color: var(--tertiary);
}

.card_container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
  justify-items: center;
}

.card_container .card {
  width: 80%;
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 40px;
  box-shadow: 0px 1px 5px 0px;
  border-radius: 4px;
}

.card_container .card i {
  font-size: 32px;
}

.card_container .card h5 {
  font-size: 18px;
  font-weight: bold;
}

.card_container .card p {
  font-size: 14px;
  color: var(--tertiary);
  line-height: 25px;
}

.price-card-container {
  width: 100%;
  padding: 44px 0px;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-card-container > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.price-card-title {
  font-size: 32px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin: 0;
}

.price-card-title > span {
  color: var(--secondnary);
}

.price-card-content {
  font-size: 16px;
  text-align: center;
  width: 80%;
  color: var(--tertiary);
  margin-bottom: 48px;
}

.price-card-sub-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  align-items: center;
  justify-items: center;
}

.price-card-sub-container > div {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 1px 0px 3px 0px;
}

.price-card-sub-container > div > div:nth-child(1) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.price-card-sub-container > div > div:nth-child(2) {
  padding: 12px 8px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.price-card-sub-container > div > div > div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.price-card-sub-container > div > div > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: var(--tertiary);
}

.price-card-sub-container > div > div > div:nth-child(2) ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style: none;
}

.price-card-sub-container > div > div > div:nth-child(2) ul > li:nth-child(1) {
  text-decoration: line-through;
  color: var(--tertiary);
}

.price-card-sub-container > div > div > div:nth-child(2) ul > li:nth-child(2) {
  color: #fa7436;
  background-color: #f3c4af;
  padding: 3px;
  border-radius: 4px;
}

.price-card-sub-container > div > div h5 {
  font-size: 20px;
  font-weight: 600;
}

.price-card-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 24px;
}

.price-card-btn-container button {
  cursor: pointer;
  outline: none;
  padding: 12px;
  border: none;
  color: var(--tertiary);
  font-size: 14px;
  border-radius: 50%;
  font-weight: 600;
  border-color: var(--tertiary);
  border-width: 2px;
  transition: background-color 300ms ease-in-out;
}

.price-card-btn-container button:hover {
  background-color: var(--secondnary);
  color: white;
}

.package-card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 0px;
  background-color: var(--primary);
}

.package-header-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.package-card-title {
  font-size: 32px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin: 0;
}

.package-card-title > span {
  color: var(--secondnary);
}

.package-card-content {
  font-size: 16px;
  text-align: center;
  width: 80%;
  color: var(--tertiary);
  margin-bottom: 48px;
  line-height: 24px;
}

.package-card-sub-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
  position: relative;
}

.package-card-sub-container > div {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: -2px 1px 5px 0px;
}

.package-card-sub-container > div > div:first-child {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 20px;
  overflow: hidden;
}
.package-card-sub-container > div > div:first-child > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.package-card-sub-container > div > div:nth-child(2) {
  padding: 20px;
}

.package-card-sub-container > div > div:nth-child(2) > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.package-card-sub-container > div > div:nth-child(2) > div h6 {
  font-size: 20px;
  font-weight: 500;
}

.package-card-sub-container > div > div:nth-child(2) > div:first-child > span {
  color: var(--secondnary);
  font-size: 20px;
  font-weight: 700;
}

.package-card-sub-container > div > div:nth-child(2) > div:nth-child(2) {
  font-size: 14px;
  color: var(--tertiary);
}

.package-card-sub-container > div > div:nth-child(2) > div:nth-child(2) > span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

#btn-left {
  position: absolute;
  top: -90px;
  right: 0px;
  box-shadow: none;
  z-index: 0;
}

.testimonial-container {
  width: 100%;
  background-color: #f7f8fc;
  padding: 60px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-sub-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.testimonial-sub-container > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.testimonial-title {
  font-size: 32px;
  font-weight: bold;
  width: 100%;
  margin: 0;
}

.testimonial-title > span {
  color: var(--secondnary);
}

.testimonial-content {
  font-size: 16px;
  width: 80%;
  color: var(--tertiary);
  margin-bottom: 48px;
  line-height: 24px;
}

.testimonial-card-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-card-container > div {
  width: 60%;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px;
  position: relative;
}

.testimonial-card-container > div > p {
  line-height: 28px;
}

.testimonial-card-container > div > div h6 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
}

.testimonial-card-container > div > div span {
  font-size: 14px;
  color: var(--tertiary);
}

.testimonial-pic {
  position: absolute;
  width: 60px;
  aspect-ratio: 1/1;
  top: -40px;
  left: -28px;
}

.testimonial-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-main-container {
  width: 100%;
  padding: 60px 0px 270px 0px;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.blog-title {
  font-size: 32px;
  font-weight: bold;
  width: 100%;
  margin: 0;
  text-align: center;
}

.blog-title > span {
  color: var(--secondnary);
}


.blog-card-container{
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 28px;
}

.blog-card-container > div{
  width:100%;
  height:auto;

}

.blog-card-container > div > div{
  width: 100%;
  height: auto;
  border-radius: 8px;
  overflow: hidden;
}

.blog-card-container > div > div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-card-container > div p{
  font-size: 16px;
  font-weight: 700;
}

.blog-card-container > div span{
  font-size: 14px;
  color: var(--tertiary);
}


.blog-btn-container{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

}

.blog-btn-container button{
  width: 10px;
  height: 10px;
  background-color:rgb(167 167 167);
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  display: inline-block;
  

}


.footer-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F7F8FC;
  padding: 160px 0px 8px 0px;
  position: relative;
}

.footer-sub-container{
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 48px;
  border-bottom: 1px solid var(--tertiary);
  padding: 12px;
}

.footer-sub-container > div:nth-child(2){
  grid-column: span 2;
}

.footer-sub-container-one{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;

}

.footer-sub-container-one h5{
  font-size: 20px;
  font-weight: 700;
}

.footer-sub-container-one p{
  font-size: 14px;
  color: var(--tertiary);
  letter-spacing: 1px;
}

.footer-sub-container-one ul{
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0px;
  gap: 12px;
}

.footer-sub-container-one ul li{
  padding: 8px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-sub-container-one ul li i{
  font-size: 18px;
}

.footer-sub-container-two{
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.footer-sub-container-two > div{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-sub-container-two h6{
  font-size: 16px;
  font-weight: 600;
}

.footer-sub-container-two ul{
  list-style: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 12px;
  color: var(--tertiary);
}


.footer-copyrights-container{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--tertiary);
  padding: 24px 0px;
  font-size: 14px;
}

.letterbox-conatiner{
  width: 60%;
  background-color: #fa7436;
  height: 300px;
  border-radius: 12px;
  position: absolute;
  top: -220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.letterbox-sub-conatiner{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 10px;
}


.letterbox-sub-conatiner h2{
  font-size: 28px;
  color: white;
  text-align: center;
}

.letterbox-sub-conatiner form{
  width: 100%;
  position: relative;
}

.letterbox-sub-conatiner form > input{
  width: 100%;
  border: none;
  outline: none;
  padding: 16px 4px;
  border-radius: 8px;
}

.letterbox-sub-conatiner form > button{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px 24px;
  background-color: var(--secondnary);
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 14px;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
  
}

